
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:remove="all">Reset Senha</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1 style='color: #5e9ca0;'>Atualiza&ccedil;&atilde;o de Senha!</h1>
	<h2 style='color: #2e6c80;'>
		Link para Atualiza&ccedil;&otilde;a de sua senha: <a
			th:href="'http://localhost:8080/confirpassword/'  + ${token}"
			target='_blank'>Nova Senha</a>
	</h2>
	<!--  <a href="mailto:someone@microsoft.com?subject=Hello%20again"> Send Mail </a>
		<a th:href="'http://localhost:4200/confirpassword/'  + ${token}" target='_blank' > teste Login </a> 
		
	<p>V&aacute;lido somente por 4h apos sua solicit&ccedil;&atilde;o.</p>
<p  th:text="'http:/localhost:4200/confirpassword/'  + ${token}"> T</p>
-->

</body>

</html>